Using Web Scraping method to extract the required table

In [1]:
from pandas.io.html import read_html

In [2]:
page= 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
wikitables = read_html(page, attrs={"class" : "wikitable sortable"})

The variable wikitables contains the scraped table. Further we sort the table on the basis of Postal Code Column and reset their index

In [12]:
df=wikitables[0]
df1=df[df.Borough!='Not assigned']
df2=df1.sort_values(by='Postal Code', ascending=True)
df2.reset_index()

,index,Postal Code,Borough,Neighborhood
0,9,M1B,Scarborough,"Malvern, Rouge"
1,18,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,27,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,36,M1G,Scarborough,Woburn
4,45,M1H,Scarborough,Cedarbrae
...,...,...,...,...
98,98,M9N,York,Weston
99,107,M9P,Etobicoke,Westmount
100,116,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,143,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,152,M9W,Etobicoke,"Northwest, West Humber - Clairville"

In [13]:
df2.shape

(103, 3)